<ion-header>
  <ion-toolbar>
    <!--    starting point-->
    <ion-searchbar
            clearIcon
            showCancelButton
            placeholder="Search Starting Point"
            [(ngModel)]="autocompleteStartingPoint.input"
            (ionInput)="updateSearchResults(SEARCH_MODE.STARTING_POINT)"
    ></ion-searchbar>

    <!--    destination-->
    <ion-searchbar
            clearIcon
            showCancelButton
            placeholder="Search Destination"
            [(ngModel)]="autocompleteDestination.input"
            (ionInput)="updateSearchResults(SEARCH_MODE.DESTINATION)"
    ></ion-searchbar>

      <ion-button expand="block" (click)="getDirections()">
          Get Directions
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- predicted locations -->
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item button *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
      <ion-label>
        {{ item.description }}
      </ion-label>
    </ion-item>
  </ion-list>


  <!-- Google Maps Canvas -->
  <div style="height: 100%; width: 100%" id="map_canvas">
  </div>

</ion-content>
